//estilos para componente

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #212121;
}
.header {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    
}

.header__title{
    flex-direction: column;
    color: #d34e24;
    margin-top: 20px;
    margin-left: 35px;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter__title {
    color: white;
}

.form__label{
    color: white;
}
.filter__year {
    color: white;
    margin-top: 50px;

}

.list__movie{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    padding: 10px 5%;
    list-style:none;
    
    
}
.list__movie--found{
    display: flex;
    align-items: center;
    background-color: #f28123;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: #d34e24;
}}

.list__movie--notfound{
    background-color: #d34e24;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 40px;
    list-style:none;

}

.card__image{
    width: 200px;
    margin-bottom: 15px;
}

.card__title{
    text-align: center;
    color: black;
    
}

.card__description{
    text-align: center;
    color: black;
   
}
.link {
    text-decoration: none
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f28123;
    padding: 20px;
}

.card__image-click{
    margin-top: 40px;
    width: 200px;
    margin-bottom: 15px;
}

.card__title-click .card__description-click .card__director-click{
    text-align: center;
    color: black;
}

